@use 'variables';
@use 'mixins';
@use 'color';

body {
    font-family: variables.$font-stack;
}

h1 {
    margin-bottom: variables.$heading-margin-bottom;
}

h2 {
    color: variables.$heading-color;
}

.content-box {
    padding: 20px;
    border: 1px solid variables.$secondary-color;
    border-radius: 5px;
    margin-bottom: 20px;
}

.custom-button {
    background-color: color.$button-bg;
    color: color.$button-text;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    @include mixins.button-hover;
}